@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400;500&family=Poppins:wght@300;400;600&family=Source+Sans+Pro:wght@300;400&family=Ubuntu:wght@300;400;500&display=swap');

.App {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: 3rem auto;
  height: auto; 
  background-color: white;
  box-shadow: 5px 5px #f69e7b;
  border-radius: .5em;
  padding: 1.5rem;
}

.head-container {
  padding: 1em;
  border-bottom: 1px solid #383e56;
}

h1 {
  font-size: 2em;
  margin-bottom: .25em;
  font-family: 'Lobster', cursive;
  color: #383e56;
}

.input-container {
  display: flex;
  flex-direction: row;
}

#textInput {
  width: 70%;
  border-radius: 5px;
	border: 1px solid #84a9ac;
	padding: .625rem;
	font-family: 'Open Sans', sans-serif;
}

#textInput:focus {
  outline: none !important;
	border: 1px solid #f69e7b;
}

button {
  width: 30%;
  background-color: #f69e7b;
	border: 0px;
	color: white;
	border-radius: 5px;
  cursor: pointer;
  margin-left: .25em;
  font-family: 'Lobster', cursive;
}

button:hover {
  cursor: pointer;
	background-color: #ec7546;
}

.todo-container {
  padding: 1em;
  color: #383e56;
}

.todo-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5em 0;
}

.left-col {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#todoCheckbox {
  cursor: pointer;
}

.right-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

p {
  font-size: .95em;
  margin-left: .5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

#editSvg {
  height: .75em;
  cursor: pointer;
  opacity: .8;
}

#delSvg {
  height: .75em;
  margin-left: 1em;
  cursor: pointer;
  opacity: .8;
  padding-right: .25em;
}

#delSvg:hover {
  height: .8em;
}

#editSvg:hover{
  height: .8em;
}

.through {
  text-decoration: line-through;
}

@media only screen and (max-width: 768px) {
  .App {
    max-width: 60%;
    font-size: .75em;
  }
}